/* Find this code block
          <img id="{{ img_id }}"
                class="grid-view-item__image lazyload"
                alt="{{ preview_image.alt }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                data-image>
*/ 

// And replace with (or just add the <div> above the <img> and add the two lines after it)

          <div class="product-card__hover-image">
              <img id="{{ img_id }}"
                    class="grid-view-item__image lazyload"
                    alt="{{ preview_image.alt }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ preview_image.aspect_ratio }}"
                    data-sizes="auto"
                    data-image>
              <img class="product-hover_image" src="{{ product.images[1] | img_url: '450x450' }}" alt="{{ product.images[1].alt | escape }}" />
          </div>

// the main <img> tag is unchanged from the Debut theme, no need to change it.
